@tailwind base;

@tailwind components;

@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.labels {
  @apply ml-6 md:text-lg font-medium
}

.inputs {
  @apply bg-gray-100 focus:bg-white mb-3 rounded-xl pl-2 ml-6
}

.btn {
  @apply hover:border-2 hover:border-green-500 hover:bg-white hover:text-green-500
}

.scale {
  @apply hover:scale-105 duration-300 ease-in-out
}

.error {
  @apply bg-red-100 border border-red-500 text-red-500
}

.links {
  @apply text-white mt-4 text-sm md:text-xl font-semibold hover:border-b-4 border-white h-8 ease-in-out duration-100
}


